<ng-container *ngIf="$project | async as project">
  <app-intro-section
    title="{{project.title}}"
    subtitle="{{project.description}}"
  ></app-intro-section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 col-lg-3"><img class="" src="{{project.imageUrls[0]}}"></div>
      <p class="col-md-6 offset-lg-1 col-lg-5 my-0 text-center text-md-justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas aperiam omnis saepe quidem placeat! Illo beatae optio at voluptate ab veniam voluptas deserunt officia accusantium dicta atque hic odio est quia tenetur, voluptatum explicabo praesentium odit porro nemo perspiciatis velit nulla. Nemo deserunt vitae commodi molestias similique perspiciatis doloribus fugit dolorem, omnis nisi illo distinctio explicabo quasi soluta accusamus laborum deleniti illum iure molestiae quod? Sequi, nemo pariatur adipisci magni repellendus distinctio laborum, quis voluptates nostrum porro officia exercitationem sint tempora. At quae nobis cum explicabo voluptates ex alias excepturi, molestias nulla repudiandae delectus nisi blanditiis facere provident placeat! Quia.
      </p>
      <div class="technology-list-col offset-lg-1 col-lg text-center mt-3 mt-md-0">
        <h3>Technologies</h3>
        <ul class="technology-list">
          <li *ngFor="let t of project.technologies">
            {{t}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
