#app-wrapper{
  --background-green: #115b11;
  --background-base: white;
  --shadow-tone-0: #bbb;

  --text-color-basic: black;
  --text-color-muted: rgba(0, 0, 0, 0.7);

  background: radial-gradient(
    circle at top left, 
    var(--background-green) max(5vw, 10vh), 
    var(--background-base) max(6vw, 11vh)
  );

  color: var(--text-color-basic);
}

#app-wrapper.dark{
  --background-green: #112511;
  --background-base: #111;

  --shadow-tone-0: #070707;

  --text-color-basic: white;
  --text-color-muted: rgba(255, 255, 255, 0.8);

  background: radial-gradient(
    circle at top left, 
    var(--background-green) max(5vw, 10vh), 
    var(--background-base)
  );
}

.text-mute{
  color: var(--text-color-muted);
}

a{
  color: inherit;
}